VITE_SUPABASE_URL=https://nkipkczsxkxdxgjdaelh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5raXBrY3pza3hrZHhnamRhZWxoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3MjY1NzYsImV4cCI6MjA5NzMwMjU3Nn0.MCn9P4PHuiHq84RZvoSdyDfZ22xAVs99UF0sa7Bc77w
